/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set up global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
  max-width: 100px;
}

.body-container {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 20px;
}

.body-container input,
.body-container textarea,
.body-container button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.body-container button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.result-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
}

.result-container h2 {
  margin-bottom: 10px;
}

.result-container ul {
  list-style: none;
}

.result-container li {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer-bar {
  height: 20px;
  background-color: #007bff;
}
